In [1]:
import numpy as np
import pandas as pd
from collections import defaultdict
import operator
import time, datetime
from utils import *

from IPython.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))

# import plotly.express as px
# from plotly.subplots import make_subplots
# import plotly.graph_objs as go 

from tqdm import tqdm

# 1. statistics overview

In [2]:
# # There are 784309 tables in our data set. 
# Each table describes a student’s question-solving log. 
# There is no difference in the information dimension between the tables.
# Each table contains the timestamp,solving_id,question_id,user_answer and elapsed_time 
# as described in the above Columns Description section.

In [3]:
# A major property of EdNet is that the questions come in bundles. 
# That is, a collection of questions sharing a common passage, 
# picture or listening material. 
# For example, questions of ID q2319, q2320 and q2321 may share the same reading passage. 
# In this case, the questions are said to form a bundle and will be given to the student 
# with corresponding shared material. 
# When a bundle is given, a student have access to all the problems and has to respond 
# all of them in order to complete the bundle.

In [4]:
len(s)

NameError: name 's' is not defined

In [5]:
import os
path='/mnt/qb/work/mlcolab/hzhou52/kt/EdNet/KT1'
d=[]
table_list=[]
s=pd.Series(os.listdir(path))
file_selected=s#s.sample(5000).to_numpy()
for file_name in file_selected:
    data_raw=pd.read_csv(os.path.join(path,file_name),encoding = "ISO-8859-15")
    data_raw['user_id']=pd.Series([file_name[:-4]]*len(data_raw))
    d.append([file_name[:-4],len(data_raw)])
    data=pd.DataFrame(data_raw,columns=['user_id']+data_raw.columns.to_list()[:-1])
    table_list.append(data)
df=pd.concat(table_list)
pd.set_option('display.max_rows',10)
df=df.reset_index(drop=True)
df

,user_id,timestamp,solving_id,question_id,user_answer,elapsed_time
0,u1,1565096190868,1,q5012,b,38000
1,u1,1565096221062,2,q4706,c,24000
2,u1,1565096293432,3,q4366,b,68000
3,u1,1565096339668,4,q4829,a,42000
4,u1,1565096401774,5,q6528,b,59000
...,...,...,...,...,...,...
95293921,u99998,1516056677378,24,q8735,d,27000
95293922,u99998,1516056704888,25,q4608,b,13000
95293923,u99998,1516056728149,26,q6740,c,11000
95293924,u99999,1515886887475,1,q8098,b,18000
95293925,u99999,1515886920805,2,q8074,c,31000

In [ ]:
import pickle

filehandler = open("/mnt/qb/work/mlcolab/hzhou52/kt/EdNet/kt3.obj","wb")
pickle.dump(df, filehandler)
filehandler.close()

In [ ]:
log = df
print('The columns of log are ', log.columns)
print('The length of log is {}'.format(len(log)))

print('###########################################')

print(count_unique(log, log.columns))