decription is [here](https://github.com/adaptive-learning/matmat-web/blob/master/data/data_description.md)

https://www.fi.muni.cz/adaptivelearning/?a=data

In [3]:
import os
import sys
import gzip
import time
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [42]:
from utils import *

In [8]:
prefix = '/mnt/qb/work/mlcolab/hzhou52/kt/slepemapy'
answer = pd.read_csv(os.path.join(prefix, 'answers.csv'))#, sep=';')
answer.head()
# random - 0 for adaptively selected items and 1 randomly selected items

,id,time,item,student,response_time,correct,answer,answer_expected,log,random
0,273951,2016-04-17 14:12:09,38,33480,57276,0,14,13,"{""client_meta"": [[38008, ""13 selected""], [3922...",0
1,273952,2016-04-17 14:12:32,51,33480,17068,0,3,17,"{""client_meta"": [[11382, ""soft-keyboard:3""], [...",0
2,273953,2016-04-17 14:12:45,685,33481,19878,0,95,85,"{""client_meta"": [[13513, ""9""], [18550, ""95""], ...",0
3,273954,2016-04-17 14:13:03,427,33480,15139,1,20,20,"{""client_meta"": [[12145, ""2""], [12399, ""20""], ...",0
4,273955,2016-04-17 14:13:04,148,33481,12359,1,10,10,"{""client_meta"": [[10680, ""1""], [11409, ""10""], ...",0

In [87]:
print(check_nan(answer))
print(count_unique(answer, ['item', 'student']))
print(len(answer))

number of NaN in column id: 0
number of NaN in column time: 0
number of NaN in column item: 0
number of NaN in column student: 0
number of NaN in column response_time: 0
number of NaN in column correct: 0
number of NaN in column answer: 12491
number of NaN in column answer_expected: 0
number of NaN in column log: 0
number of NaN in column random: 0
None
number of unique value in item: 1847
number of unique value in student: 16558
None
388078

In [53]:
answer = remove_log(answer, 'student')
print(len(answer))
print(count_unique(answer, ['item', 'student']))

In [9]:
# Every item belongs to exactly one skill (mostly level 2 or level 3 skills). 
# Features 'skill_lvl_X' stands for ancestor skill of item on given level. 
# They can be used for comfortable item filtering.
item = pd.read_csv(os.path.join(prefix, 'items.csv'))#, sep=';')
item.head()

,id,question,answer,visualization,skill,skill_lvl_1,skill_lvl_2,skill_lvl_3,data
0,1,1,1,object_selection_answer,1873,1870,1871.0,1873.0,"{'answer':1,'operands':[1]}"
1,2,1,1,number_line_answer,1873,1870,1871.0,1873.0,"{'answer':1,'operands':[1]}"
2,3,1,1,object_counting,1873,1870,1871.0,1873.0,"{'answer':1,'operands':[1]}"
3,4,2,2,object_selection_answer,1874,1870,1871.0,1874.0,"{'answer':2,'operands':[2]}"
4,5,2,2,number_line_answer,1874,1870,1871.0,1874.0,"{'answer':2,'operands':[2]}"

In [25]:
print(check_nan(item))
print(count_unique(item, ['skill']))

number of NaN in column id: 0
number of NaN in column question: 0
number of NaN in column answer: 0
number of NaN in column visualization: 0
number of NaN in column skill: 0
number of NaN in column skill_lvl_1: 0
number of NaN in column skill_lvl_2: 184
number of NaN in column skill_lvl_3: 641
number of NaN in column data: 0

In [60]:
skill = pd.read_csv(os.path.join(prefix, 'skills.csv'))#, sep=';')
skill.head()
# identifier - string identifier of the skill
# name - czech name of the skill
# parent - parent skill id

     id      identifier            name  parent
0  1869            math             Vše     NaN
1  1870         numbers        Počítání  1869.0
2  1871  numbers_leq_10  Počítání do 10  1870.0
3  1872  numbers_leq_20  Počítání do 20  1870.0
4  1873               1               1  1871.0

In [61]:
print(check_nan(skill))
print(count_unique(skill, ['id']))

number of NaN in column id: 0
number of NaN in column identifier: 0
number of NaN in column name: 0
number of NaN in column parent: 1
None
number of unique value in id: 467
None

# pre-process

In [62]:
# re-index
# - skill
skill_id = list(skill['id'].unique())
skill_dict = dict(zip(skill_id, range(len(skill_id))))
skill['id'] = skill['id'].apply(lambda x: skill_dict[x])
skill['parent'][1:] = skill['parent'][1:].apply(lambda x: skill_dict[x])
skill.head()
item['skill'] = item['skill'].apply(lambda x: skill_dict[x])
item.head()

# - item
item_id = list(item['id'].unique())
item_dict = dict(zip(item_id, range(len(item_id))))
item['id'] = item['id'].apply(lambda x: item_dict[x])
answer['item'] = answer['item'].apply(lambda x: item_dict[x])

# - student
stu_id = list(answer['student'].unique())
stu_dict = dict(zip(stu_id, range(len(stu_id))))
answer['student'] = answer['student'].apply(lambda x: stu_dict[x])

   id      identifier            name  parent
0   0            math             Vše     NaN
1   1         numbers        Počítání     0.0
2   2  numbers_leq_10  Počítání do 10     1.0
3   3  numbers_leq_20  Počítání do 20     1.0
4   4               1               1     2.0

In [93]:
# create new data
df = pd.DataFrame(columns=['user_id', 'problem_id', 'skill_id', 'timestamp', 'dwell_time', 'correct'])
df.user_id = answer.student
df.problem_id = answer.item
item_skill = dict(zip(list(item.id), list(item.skill)))
df.skill_id = answer.item.apply(lambda x: item_skill[x])
df.timestamp = answer.time.apply(lambda t: time.mktime(time.strptime(t, '%Y-%m-%d %H:%M:%S')))
df.dwell_time = answer.response_time.apply(lambda t: t / 1000.0)
df.correct = answer.correct

In [94]:
df.timestamp = answer.time.apply(lambda t: time.mktime(time.strptime(t, '%Y-%m-%d %H:%M:%S')))

ValueError: unconverted data remains: .035462

In [95]:
try:
    df.timestamp = answer.time.apply(lambda t: time.mktime(time.strptime(t, '%Y-%m-%d %H:%M:%S')))
except ValueError:
    import ipdb
    ipdb.set_trace()

--Return--
None
> /tmp/ipykernel_8296/3338134284.py(5)<cell line: 1>()
      3 except ValueError:
      4     import ipdb
----> 5     ipdb.set_trace()

'2016-04-17 14:12:09'
--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user

In [83]:
t = answer.time[0]

In [84]:
time.strptime(t, '%Y-%m-%d %H:%M:%S')

time.struct_time(tm_year=2016, tm_mon=4, tm_mday=17, tm_hour=14, tm_min=12, tm_sec=9, tm_wday=6, tm_yday=108, tm_isdst=-1)

In [86]:
time.mktime(time.strptime(t, '%Y-%m-%d %H:%M:%S'))

1460895129.0

In [88]:
from dateutil import parser

In [91]:
time.mktime(parser.parse(t))

TypeError: Tuple or struct_time argument required

In [92]:
parser.parse(t)[0]

TypeError: 'datetime.datetime' object is not subscriptable